.row-header {
  margin: 0px auto;
  padding: 0px 0px; }
.body{
  font-family: "Raleway", sans-serif;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }
  
  
.footer {
  background:url(../foo.gif);
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background:royalblue;
  color: floralwhite; }

address {
  font-size: 100%;
  margin: 0px;
  color:white; }

body {
  padding: 50px 0px 0px 0px;
  background-color: #ccd9ff;
  z-index: 0; 
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-dark {
  background-color: #002699;
}

.modal-body {
  background-color:#ccd9ff;}

.modal-header {
  background-color: #002699; }
  .modal-header .close {
    color: floralwhite; }

.modal-title {
  color: floralwhite; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }
.word {
  color: floralwhite;
  
}

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

  #mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    right: -40px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 90px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 50px 0px 0px 50px; /* Rounded corners on the top right and bottom right side */
    display: flex;
    flex-direction: column;
    text-align:left;
    margin: 2px;
    
  }
  #mySidenav a i{
    margin-right:25px;
    
    text-align: center;
    
    padding-right: 40px;   
  }
  #mySidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #google {
    top: 140px;
    
  }
  
  #fb {
    top: 200px;
     /* Blue */
  }
  
  #lin {
    top: 260px;
     /* Red */
  }
  #ins {
    top: 320px;
    /* Light Black */background-color: #8c6dc5
  }
  #you {
    top: 380px;
    /* Light Black */
  }
  #mail {
    top: 440px;
    /* Light Black */background-color: grey
  }
  

  div.gallery {
    border: 6px solid white;
    width: 100%;
    height:100%;
    padding: 2%;
    margin: 10%;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 100%;
  }
  
  div.desc {
    padding: 1px;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .card {
    box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.2);
    background-color:rgb(255,255,255);
    width: 300px;
    height: 550px;
 
  margin-bottom: 16px;
  padding: 20 20px;
  margin-right: 4%;
  border-spacing: 10px;
  }
  
  
  .card2 {
    box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.2);
    background-color:slateblue;
    width: auto;
    height: 200px;
 
  margin-bottom: 16px;
  padding: 20 20px;
  margin-right: 4%;
  border-spacing: 10px;
  }

  .column {
    float: left;
    width: 500px;
    height: 560px;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row1 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  .card5 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    height: 550px;
    text-align: center;
    background-color: #f1f1f1;
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 20px;
    }
    .card5 {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      height:auto;
      text-align: center;
      background-color: #f1f1f1;
    }
    .card {
      box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.2);
      background-color:rgb(255,255,255);
      width: 100%;
      height: 550px;
   
    margin-bottom: 16px;
    padding: 20 20px;
    margin-right: 4%;
    border-spacing: 10px;
    }
    .card img {
      width: 100%;
    }
    .modal{
    width: 88%;    
    }
  }
  
  /* Style the counter cards */
  